{% extends "learning_logs/base.html" %}

{% block content %}
  <p>Tópico:{{ topic }}</p>
  <p>Anotações:</p>
  <p>
    <a href="{% url 'new_entry' topic.id %}">Adicione uma nova anotação</a>
  </p>
  <ul>
    {% for entry in entries %}
    <li>
      <p>{{entry.date_added | date:'M d,Y H:i'}}</p>
      <p>{{entry.text | linebreaks}}</p>
      <button><a href="{% url 'edit_entry' entry.id %}">Editar</a></button>
      <button><a href="{% url 'delete_entry' entry.id %}">Deletar</a></button>
    </li>

      {% empty %}
      <li>Não há registros</li>
    {% endfor %}
  </ul>
 
{% endblock content%}